/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ================ */

.wrapper {
    background-color: #F7F7F7;
    min-height: 100%;
}

.title {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
}

.subtitle {
    font-family: 'Oxygen', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.header {
    background-image: url('assets/canyon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header_without-background {
    background: none;
}

.header__title {
    color: #FFFFFF;
    padding: 103px 0 20px 0;
}

.header__subtitle {
    color: rgba(255, 255, 255, 0.63);
    padding: 0 0 31px 0;
}

.header__button {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    background-color: #DD783F;
    border-radius: 3px;
    color: #FFFFFF;
    height: 44px;
    width: 167px;
    margin: 0 auto;
    display: block;
}

.bottom-menu__link {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088;
}

.header__bottom-menu {
    background: #FFFFFF;
}

.bottom-menu__list {
    display: flex;
    width: 960px;
    justify-content: space-around;
    height: 65px;
    align-items: center;
    margin: 0 auto;
}

.top-menu {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    height: 74px;
    align-items: center;
}

.top-menu__logo {
    text-decoration: none;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.top-menu__list {
    display: flex;
}

.top-menu__link {
    font-family: 'Oxygen', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 0 20px 0 0;
}

.top-menu__logo_gray {
    color: #2E2E2E;
}

.top-menu__link_gray {
    color: #2E2E2E;
}

.header__content {
    height: 426px;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.featured-posts__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #2E2E2E;
    text-align: center;
    letter-spacing: 2px;
    padding: 60px 0 40px 0;
}

.featured-posts__item_first {
    background-image: url('assets/radiance.png');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-end;
}

.featured-posts__post-info {
    width: 420px;
    display: flex;
    padding: 0 0 22px 0;
    align-self: center;
    align-items: center;
}

.featured-posts__item_second {
    background-image: url('assets/chinese-lantern.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.featured-posts__item {
    height: 280px;
    width: 460px;
    display: flex;
    flex-direction: column;
}

.featured-posts__items {
    display: flex;
    justify-content: space-between;
}

.feature-posts__button {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #DD783F;
    border-radius: 3px;
    width: 87px;
    height: 26px;
}

.feature-posts__button-block {
    margin-bottom: auto;
    padding: 20px 0 0 20px;
}

.featured-posts__name {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: #FFFFFF;
    width: 420px;
    align-self: center;
}

.featured-posts__about {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
    padding: 6px 0 12px 0;
    width: 420px;
    align-self: center;
}

.featured-posts__author-name {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__author-logo {
    top: 5px;
    height: 26px;
    padding: 0 10px 0 0;
}

.featured-posts__date {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
}

.most-recent__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    padding: 60px 0 33px 0;
    color: #2E2E2E;
}

.most-recent__item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.most-recent__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 24px;
    padding: 0 0 108px 0;
}

.most-recent__name {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    padding: 14px 0 7px 13px;
}

.most-recent__about {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    padding: 0 36px 13px 13px;
}

.most-recent__post-data {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.most-recent__post-info {
    background-color: #FCFCFC;
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0 13px 0 13px;
    height: 48px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #EFEFEF;
    ;
}

.most-recent__author-name {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
    margin-right: auto;
    padding: 0 0 0 10px;
}

.most-recent__author-logo {
    height: 26px;
    width: 26px;
}

.most-recent__image {
    height: 150px;
    width: 297px;
}

.footer__logo {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer__body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__form {
    display: flex;
}

.footer__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #EFEFEF;
    padding: 82px 0 38px 0;
}

.footer__button {
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    width: 125px;
    height: 50px;
    margin: 0 0 90px 0;
}

.footer__input {
    height: 50px;
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    padding: 0 0 0 35px;
}

.footer__input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #817F83;
}

.footer__link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 20px 0 0;
}

.footer__menu {
    display: flex;
    width: 960px;
    justify-content: space-between;
}

.footer__menu-container {
    display: flex;
    align-items: center;
    background: rgba(35, 47, 56, 0.6);
    height: 90px;
    justify-content: center;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer {
    background-image: url('assets/footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.main__article {
    grid-column: 1/4;
}

.article__title {
    color: #2E2E2E;
    padding: 82px 0 20px 0;
}

.article__subtitle {
    color: #2E2E2E;
    padding: 0 0 113px 0;
}

.article__text {
    padding: 140px 0 135px 0;
    width: 960px;
    margin: 0 auto;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: #101315;
}

.article__paragraph {
    padding: 0 0 35px 0;
}

.article__image {
    height: 534px;
    width: 100%;
}