/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ================ */

.wrapper {
    background-color: #F7F7F7;
    min-height: 100%;
}

.title {
    text-align: center;
    letter-spacing: 2px;
    font: 50px/51px 'Oxygen', serif;
}

.subtitle {
    text-align: center;
    font: 17px/20px 'Oxygen', serif;
}

.header {
    background-image: url('../assets/canyon.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.header_without-background {
    background: none;
}

.header__title {
    color: #FFFFFF;
    padding: 103px 0 20px 0;
}

.header__subtitle {
    color: rgba(255, 255, 255, 0.63);
    padding: 0 0 31px 0;
}

.header__button {
    font: 13px/20px 'Oxygen', serif;
    text-align: center;
    background-color: #DD783F;
    border-radius: 3px;
    color: #FFFFFF;
    height: 44px;
    width: 167px;
    margin: 0 auto;
    display: block;
}

.bottom-menu__link {
    font: 14px/20px 'Lora', serif;
    color: #768088;
}

.header__bottom-menu {
    background: #FFFFFF;
}

.bottom-menu__list {
    display: flex;
    width: 960px;
    justify-content: space-around;
    height: 65px;
    align-items: center;
    margin: 0 auto;
}

.top-menu {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 940px;
    height: 74px;
    align-items: center;
}

.top-menu__logo {
    text-decoration: none;
    font: 26px/26px 'Lora', serif;
    color: #FFFFFF;
}

.top-menu__list {
    display: flex;
}

.top-menu__link {
    font: 12px/20px 'Oxygen', serif;
    color: #FFFFFF;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding: 0 40px 0 0;
}

.top-menu__list li:last-child a {
    padding: 0 0 0 0;
}

.top-menu__logo_gray {
    color: #2E2E2E;
}

.top-menu__link_gray {
    color: #2E2E2E;
}

.header__content {
    height: 426px;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.featured-posts__title {
    font: 20px/27px 'Oxygen', serif;
    color: #2E2E2E;
    text-align: center;
    letter-spacing: 2px;
    padding: 60px 0 17px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DEDEDE;
    width: 188px;
    margin: 0 auto;
}

.featured-posts__item_first {
    background-image: url('../assets/radiance.png');
    background-repeat: no-repeat;
    background-size: 100%;
    justify-content: flex-end;
}

.featured-posts__post-info {
    width: 420px;
    display: flex;
    padding: 0 0 22px 0;
    align-self: center;
    align-items: center;
    justify-content: space-between;
}

.featured-posts__item_second {
    background-image: url('../assets/chinese-lantern.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.featured-posts__item {
    height: 280px;
    width: 460px;
    display: flex;
    flex-direction: column;
}

.featured-posts__author {
    display: flex;
    align-items: center;
}
.featured-posts__items {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 0 0;
}

.feature-posts__button {
    font: 12px/13px 'Oxygen', serif;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #DD783F;
    border-radius: 3px;
    width: 87px;
    height: 26px;
}

.feature-posts__button-block {
    margin-bottom: auto;
    padding: 20px 0 0 20px;
}

.featured-posts__name {
    font: 27px/30px 'Lora', serif;
    color: #FFFFFF;
    width: 420px;
    align-self: center;
}

.featured-posts__about {
    font: 14px/25px 'Oxygen', serif;
    color: rgba(255, 255, 255, 0.7);
    padding: 6px 0 12px 0;
    width: 420px;
    align-self: center;
}

.featured-posts__author-name {
    font: 12px/35px 'Oxygen', serif;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__author-logo {
    top: 5px;
    height: 26px;
    padding: 0 10px 0 0;
}

.featured-posts__date {
    font: 12px/35px 'Oxygen', serif;
    color: rgba(255, 255, 255, 0.7);
}

.most-recent__title {
    font: 20px/27px 'Oxygen', serif;
    text-align: center;
    letter-spacing: 2px;
    padding: 60px 0 16px 0;
    color: #2E2E2E;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DEDEDE;
    width: 188px;
    margin: 0 auto;
}

.most-recent__item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.most-recent__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    gap: 24px;
    padding: 22px 0 108px 0;
}

.most-recent__name {
    font: 16px/21px 'Lora', serif;
    color: #101315;
    padding: 14px 0 7px 13px;
}

.most-recent__about {
    font: 13px/19px 'Oxygen', serif;
    color: #7A7A7A;
    padding: 0 36px 13px 13px;
}

.most-recent__date {
    font: 12px/35px 'Oxygen', serif;
    color: #999999;
}

.most-recent__author {
    display: flex;
    align-items: center;
}

.most-recent__post-info {
    background-color: #FCFCFC;
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: 0 13px 0 13px;
    height: 48px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #EFEFEF;    ;
    justify-content: space-between;
}

.most-recent__author-name {
    font: 11px/35px 'Oxygen', serif;
    color: #999999;
    margin-right: auto;
    padding: 0 0 0 10px;
}

.most-recent__author-logo {
    height: 26px;
    width: 26px;
}

.most-recent__image {
    height: 150px;
    width: 297px;
}

.footer__logo {
    font: 26px/26px 'Lora', serif;
    color: #FFFFFF;
}

.footer__body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__form {
    display: flex;
    padding: 20px 0 0 0;
}

.footer__title {
    font: 25px/30px 'Oxygen', serif;
    text-align: center;
    color: #EFEFEF;
    padding: 82px 0 18px 0;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #DEDEDE;
    display: block;
    width: 180px;
    margin: 0 auto;
}

.footer__button {
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    width: 125px;
    height: 50px;
    margin: 0px 0 90px 0;
}

.footer__input {
    height: 50px;
    width: 375px;
    border-radius: 3px 0px 0px 3px;
    padding: 0 0 0 35px;
}

.footer__input::placeholder {
    font: 12px/14px 'Roboto', serif;
    color: #817F83;
}

.footer__link {
    font: 11px/26px 'Oxygen', serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 20px 0 0;
}

.footer__menu {
    display: flex;
    width: 960px;
    justify-content: space-between;
}

.footer__menu-container {
    display: flex;
    align-items: center;
    background: rgba(35, 47, 56, 0.6);
    height: 90px;
    justify-content: center;
}

.footer__list {
    display: flex;
    align-items: center;
}

.footer {
    background-image: url('../assets/footer.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.main__article {
    grid-column: 1/4;
}

.article__title {
    color: #2E2E2E;
    padding: 82px 0 20px 0;
}

.article__subtitle {
    color: #2E2E2E;
    padding: 0 0 113px 0;
}

.article__text {
    padding: 140px 0 135px 0;
    width: 960px;
    margin: 0 auto;
    font: 24px/35px 'Oxygen', serif;
    color: #101315;
}

.article__paragraph {
    padding: 0 0 35px 0;
}

.article__image {
    height: 534px;
    width: 100%;
}